.unit-select {
    &__bandits,
    &__law {
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;

        img {
            width: 100%;
        }

        &--visible {
            display: grid;
        }
    }
}