body {
    font-family: sans-serif;
    background-color: gray;
}

h1,
h2,
h3 {
    text-align: center;
}

.hidden {
    display: none;
}

.bandit-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 100%;
    width: 100%;

    img {
        width: 100%;
    }
}

.card {
    border: 2px solid #000;

    &--selected {
        border: 2px solid green;
    }
}