body {
    font-family: sans-serif;
    background-color: gray;
    padding: 1rem;
    margin: 0;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
}

.hidden {
    display: none;
}

.bandit-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    img {
        width: 100%;
    }
}

.card {
    border: 5px solid transparent;

    &--selected {
        border: 5px solid yellow;
    }
}

// .main-street {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     gap: 1rem;
//     max-width: 1000px;
//     width: 100%;
//     margin: 0 auto;

//     img {
//         width: 100%;
//     }
// }

.arena {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    &__bandits,
    &__law {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        align-items: center;

        .roof,
        .building,
        .street {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .street {
            background-color: brown;
        }

        img {
            max-width: 100%;
        }
    }
}